@use "variables";

body {
  background: variables.$bg;
  color: var(--text);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  background-image: url("../images/clock.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 250px;
  height: 200px;
}

.imageDiv {
  background-image: url("../images/hearts.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 250px;
  height: 200px;
}

h1 {
  font-size: 50px;
  box-shadow: 1px 1px 10px #fff;
  padding: 10px;
}

ul {
  list-style-image: url("../images/clock.png");
}

.button {
  margin: 20px;
  padding: 20px;
  font-size: 20px;
  border: 5px solid blue;
  color: blue;
  background-color: transparent;
  border-radius: 12px;
}
